---
layout: default
shitty: Yes
---

{% include vars.html %}

<div class="hero">
  <div class="container">
    <h1 class="hero-text display-4" style="margin-bottom: 2rem;">
      {{i18n.homepage_tagline}}
      <span class="hero-title-addition">
        {% comment %}
        by <a href="{{site.mastodon_url}}">rigelk</a>
        {% endcomment %}
      </span>
    </h1>

    <div>
      <a class="btn hero-btn hidden-md-down" href="{{url_base}}/userdocs/">{{i18n.homepage_c2a_button}}</a>
      <a class="btn hero-btn hidden-md-down" href="{{url_base}}/docs/install.html">{{i18n.homepage_install_button}}</a>
      <a class="btn hero-btn hidden-md-down" href="{{url_base}}/docs/">{{i18n.homepage_sysadmin_button}}</a>

      {% comment %}
      <span class="hero-ghbtn">
        <iframe src="https://ghbtns.com/github-btn.html?user=Chocobozzz&repo=PeerTube&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px" title="{{i18n.iframe_github_stars}}"></iframe>
      </span>
      {% endcomment %} 
    </div>
    {% comment %}
    {% include version.html %}
    {% endcomment %}
  </div>
</div>

<div class="container featurettes">
  <div class="row">
    <div class="col-lg-4 col-md-6 featurette">
      <h2>{{i18n.homepage_featurette_offline_title}}</h2>
      <p>{{i18n.homepage_featurette_offline_description}}</p>
      <a class="btn btn-outline-secondary" href="{{site.baseurl}}/api.html">Reference</a>
      <a class="btn btn-outline-secondary" href="{{url_base}}/devdocs/rest.html">Tutorial</a>
    </div>
    <div class="col-lg-4 col-md-6 featurette">
      <h2>{{i18n.homepage_featurette_deterministic_title}}</h2>
      <p>{{i18n.homepage_featurette_deterministic_description}}</p>
      <a class="btn btn-outline-secondary" href="{{url_base}}/devdocs/index.html#references">Reference</a>
    </div>
    <div class="col-lg-4 col-md-6 featurette">
      <h2>{{i18n.homepage_featurette_federation_title}}</h2>
      <p>A quick glance over the main activities supported by PeerTube and how we exchange
  information with the <a href="{{url_base}}/devdocs/architecture.html#toc-lexicon">Fediverse</a> and <a href="{{url_base}}/devdocs/architecture.html#toc-lexicon">Vidiverse</a></p>
      <a class="btn btn-outline-secondary" href="{{url_base}}/devdocs/federation.html">Reference</a>
    </div>
  </div>
  <hr class="feature-divider">
  <div class="row">
    <div class="col-lg-4 col-md-6 featurette">
      <h2>{{i18n.homepage_featurette_instances_api_title}}</h2>
      <p>Our (opt-in) <a href="http://instances.joinpeertube.org/">list of instances</a> can be queried anytime for statistics about the PeerTube network.</p>
      <a class="btn btn-outline-secondary" href="{{site.baseurl}}/instances-api.html">Reference</a>
    </div>
  </div>
</div>

{% comment %}

<div class="container features">
  <div class="row feature">
    <div class="col-lg-7">
      <h2 class="feature-heading">
        {{i18n.homepage_feature_fast_title}}
      </h2>
      <p class="feature-text">
        {{i18n.homepage_feature_fast_description}}
      </p>
    </div>
    <div class="col-lg-5">
      <img class="feature-image img-fluid mx-auto feature-image-speed"
        src="/assets/feature-speed.png"
        width="500" height="300"
        alt="{{i18n.homepage_feature_fast_image_alt}}"/>
    </div>
  </div>

  <hr class="feature-divider">

  <div class="row feature">
    <div class="col-lg-7 push-lg-5">
      <h2 class="feature-heading">
        {{i18n.homepage_feature_secure_title}}
      </h2>
      <p class="feature-text">
        {{i18n.homepage_feature_secure_description}}
      </p>
    </div>
    <div class="col-lg-5 pull-lg-7">
      <img class="feature-image img-fluid mx-auto feature-image-secure"
        src="/assets/feature-secure.png"
        width="375" height="300"
        alt="{{i18n.homepage_feature_secure_image_alt}}"/>
    </div>
  </div>

  <hr class="feature-divider">

  <div class="row feature">
    <div class="col-lg-7">
      <h2 class="feature-heading">
        {{i18n.homepage_feature_reliable_title}}
      </h2>
      <p class="feature-text">
        {{i18n.homepage_feature_reliable_description}}
      </p>
    </div>
    <div class="col-lg-5">
      <img class="feature-image img-fluid mx-auto feature-image-reliable"
        src="/assets/feature-reliable.png"
        width="500" height="300"
        alt="{{i18n.homepage_feature_reliable_image_alt}}"/>
    </div>
  </div>
</div>

<div class="hero">
  <div class="container">
    <p class="hero-prompt float-md-left">
      {{i18n.homepage_c2a_text}}
    </p>

    <a href="{{url_base}}/docs/getting-started" class="btn hero-btn float-md-right">
      {{i18n.homepage_c2a_button}}
    </a>
  </div>
</div>

{% endcomment %}

<!-- [TODO: Add users section once the users page has more people] -->
