---
layout: page
scripts:
  - "/js/build/documentation.js"
---

{% include vars.html %}

{% assign userguides_size = site.data.userguides | size | minus: 1 %}

{% for index in (0..userguides_size) %}
  {% assign index_mod = index | modulo: 3 %}

  {% if index_mod == 0 %}
    <div class="row">
  {% endif %}

  {% assign userguide = site.data.userguides[index] %}
  <div class="col-lg-4">
    <a class="card guide-card" href="{{url_base}}{{userguide.pages[0].path}}">
      <div class="card-block">
        <h4 class="card-title">{{i18n[userguide.title]}}</h4>
        <p class="card-text text-muted">
          {{i18n[userguide.description]}}
          <span class="float-right text-primary">{{i18n.read_more}}</span>
        </p>
      </div>
    </a>
  </div>

  {% if index_mod == 2 %}
    </div>
  {% endif %}
{% endfor %}
