{% assign tags = include.tags %}

{% include vars.html %}

{% assign guides = site.data[include.pageguide] %}

<div class="list-group">
  <strong class="list-group-item bg-faded">{{i18n.guide_additional_reading}}</strong>
{% for tag in tags %}
  {% for guide in guides %}
    {% if guide.tags contains tag %}
  <a class="list-group-item list-group-item-action" href="{{url_base}}{{guide.pages[0].path}}">
    <h5 class="list-group-item-heading">{{i18n[guide.title]}}</h5>
    <p class="list-group-item-text text-muted">{{i18n[guide.description]}}</p>
  </a>
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% for tag in tags %}
  {% for guide in guides %}
    {% for page in guide.pages %}
      {% if page.tags contains tag %}
  <a class="list-group-item list-group-item-action" href="{{url_base}}{{page.path}}">
    <h5 class="list-group-item-heading">{{i18n[page.id]}}</h5>
        {% if page.description %}
    <p class="list-group-item-text text-muted">{{i18n[page.description]}}</p>
        {% endif %}
  </a>
        {% break %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}
</div>
