.rougeHighlight pre,
.rougeHighlight,
pre {
  background: $gray-dark;
  -webkit-font-smoothing: antialiased;
  border-left: 4px solid $yarn-blue;
  color: #ddd;
}
.rougeHighlight .hll {
  background-color: #272822;
}
/* Comment */
.rougeHighlight .c {
  color: #75715e;
}
/* Error */
.rougeHighlight .err {
  color: #960050;
  background-color: #1e0010;
}
/* Keyword */
.rougeHighlight .k {
  color: #66d9ef;
}
/* Literal */
.rougeHighlight .l {
  color: #ae81ff;
}
/* Name */
.rougeHighlight .n {
  color: #f8f8f2;
}
/* Operator */
.rougeHighlight .o {
  color: #f92672;
}
/* Punctuation */
.rougeHighlight .p {
  color: #f8f8f2;
}
/* Comment.Multiline */
.rougeHighlight .cm {
  color: #75715e;
}
/* Comment.Preproc */
.rougeHighlight .cp {
  color: #75715e;
}
/* Comment.Single */
.rougeHighlight .c1 {
  color: #75715e;
}
/* Comment.Special */
.rougeHighlight .cs {
  color: #75715e;
}
/* Generic.Emph */
.rougeHighlight .ge {
  font-style: italic;
}
/* Generic.Strong */
.rougeHighlight .gs {
  font-weight: bold;
}
/* Keyword.Constant */
.rougeHighlight .kc {
  color: #66d9ef;
}
/* Keyword.Declaration */
.rougeHighlight .kd {
  color: #66d9ef;
}
/* Keyword.Namespace */
.rougeHighlight .kn {
  color: #f92672;
}
/* Keyword.Pseudo */
.rougeHighlight .kp {
  color: #66d9ef;
}
/* Keyword.Reserved */
.rougeHighlight .kr {
  color: #66d9ef;
}
/* Keyword.Type */
.rougeHighlight .kt {
  color: #66d9ef;
}
/* Literal.Date */
.rougeHighlight .ld {
  color: #e6db74;
}
/* Literal.Number */
.rougeHighlight .m {
  color: #ae81ff;
}
/* Literal.String */
.rougeHighlight .s {
  color: #e6db74;
}
/* Name.Attribute */
.rougeHighlight .na {
  color: #a6e22e;
}
/* Name.Builtin */
.rougeHighlight .nb {
  color: #f8f8f2;
}
/* Name.Class */
.rougeHighlight .nc {
  color: #a6e22e;
}
/* Name.Constant */
.rougeHighlight .no {
  color: #66d9ef;
}
/* Name.Decorator */
.rougeHighlight .nd {
  color: #a6e22e;
}
/* Name.Entity */
.rougeHighlight .ni {
  color: #f8f8f2;
}
/* Name.Exception */
.rougeHighlight .ne {
  color: #a6e22e;
}
/* Name.Function */
.rougeHighlight .nf {
  color: #a6e22e;
}
/* Name.Label */
.rougeHighlight .nl {
  color: #f8f8f2;
}
/* Name.Namespace */
.rougeHighlight .nn {
  color: #f8f8f2;
}
/* Name.Other */
.rougeHighlight .nx {
  color: #a6e22e;
}
/* Name.Property */
.rougeHighlight .py {
  color: #f8f8f2;
}
/* Name.Tag */
.rougeHighlight .nt {
  color: #f92672;
}
/* Name.Variable */
.rougeHighlight .nv {
  color: #f8f8f2;
}
/* Operator.Word */
.rougeHighlight .ow {
  color: #f92672;
}
/* Text.Whitespace */
.rougeHighlight .w {
  color: #f8f8f2;
}
/* Literal.Number.Float */
.rougeHighlight .mf {
  color: #ae81ff;
}
/* Literal.Number.Hex */
.rougeHighlight .mh {
  color: #ae81ff;
}
/* Literal.Number.Integer */
.rougeHighlight .mi {
  color: #ae81ff;
}
/* Literal.Number.Oct */
.rougeHighlight .mo {
  color: #ae81ff;
}
/* Literal.String.Backtick */
.rougeHighlight .sb {
  color: #e6db74;
}
/* Literal.String.Char */
.rougeHighlight .sc {
  color: #e6db74;
}
/* Literal.String.Doc */
.rougeHighlight .sd {
  color: #e6db74;
}
/* Literal.String.Double */
.rougeHighlight .s2 {
  color: #e6db74;
}
/* Literal.String.Escape */
.rougeHighlight .se {
  color: #ae81ff;
}
/* Literal.String.Heredoc */
.rougeHighlight .sh {
  color: #e6db74;
}
/* Literal.String.Interpol */
.rougeHighlight .si {
  color: #e6db74;
}
/* Literal.String.Other */
.rougeHighlight .sx {
  color: #e6db74;
}
/* Literal.String.Regex */
.rougeHighlight .sr {
  color: #e6db74;
}
/* Literal.String.Single */
.rougeHighlight .s1 {
  color: #e6db74;
}
/* Literal.String.Symbol */
.rougeHighlight .ss {
  color: #e6db74;
}
/* Name.Builtin.Pseudo */
.rougeHighlight .bp {
  color: #f8f8f2;
}
/* Name.Variable.Class */
.rougeHighlight .vc {
  color: #f8f8f2;
}
/* Name.Variable.Global */
.rougeHighlight .vg {
  color: #f8f8f2;
}
/* Name.Variable.Instance */
.rougeHighlight .vi {
  color: #f8f8f2;
}
/* Literal.Number.Integer.Long */
.rougeHighlight .il {
  color: #ae81ff;
}

/* Generic.Subheading & Diff Unified/Comment? */
.rougeHighlight .gu {
  color: #75715e;
}
/* Generic.Deleted & Diff Deleted */
.rougeHighlight .gd {
  color: #f92672;
}
/* Generic.Inserted & Diff Inserted */
.rougeHighlight .gi {
  color: #a6e22e;
}

.language-diff .gi {
  color: $brand-success;
  background: lighten($brand-success, 37%);
  display: block;
}

.language-diff .gd {
  color: $brand-danger;
  background: lighten($brand-danger, 37%);
  display: block;
}

pre {
  max-width: 100%;
  margin-bottom: 1.2rem;
  border-radius: 3px;
  padding: 0.6rem 1.2rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  table {
    background: none;
    border: none;

    tbody {
      tr {
        background: none;
        display: flex;
        flex-flow: row nowrap;

        td {
          display: block;
          flex: 1 1;

          &.gutter {
            max-width: 40px;
            padding-left: 1rem;
            padding-right: 1rem;

            pre {
              max-width: 20px;
              color: $gray-light;
            }
          }
        }
      }
    }
  }
}

$terminal-window-height: 25px;
$terminal-border-radius: 0.4rem;

.language-terminal {
  position: relative;
  margin-bottom: 1.5em;
  padding-top: $terminal-window-height;
  box-shadow: 0 0.25em 1em rgba(black, 0.25);
  background-color: gray;
  border-radius: $terminal-border-radius;

  &::before {
    content: '\2022 \2022 \2022';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $terminal-window-height;
    margin: 0;
    padding: (0.5 * $terminal-window-height) 0;
    background: mix(gray, #fff, 25%);
    color: mix(gray, #fff, 50%);
    font-size: (1.2 * $terminal-window-height);
    line-height: 0;
    text-indent: (0.5 * $terminal-window-height);
    border-top-left-radius: $terminal-border-radius;
    border-top-right-radius: $terminal-border-radius;
  }

  .rougeHighlight {
    margin-bottom: 0;
    border-left: none;
    border-radius: $terminal-border-radius;
  }

  .highlight {
    margin: 0;
    padding: 0;
    background-color: initial;
    color: #fff;
  }
}
