---
layout: default
---

{% include vars.html %}

<div class="hero api"
  style="overflow:visible;"
  >
  <div class="container">
    <h1 class="hero-text display-4"
      style="float:left;"
      >{{i18n[page.id]}}</h1>
    {% if layout.hero_subtext %}
      {% include {{ layout.hero_subtext }} %}
    {% elsif page.hero_subtext %}
      {% include {{ page.hero_subtext }} %}
    {% endif %}
    <div id="selectVersion" style="width:400px;float:right;top:15px;position:relative;"></div>
    <a class="btn btn-secondary" href="{{url_base}}/devdocs/rest.html"
      style="text-decoration:none;color:black;float:right;top:15px;position:relative;margin-right:10px">Tutorials</a>
  </div>
</div>

{{content}}
